<!doctype html> <!--tells the browser which version of hmtl in this case html5-->
<html lang="en">
    <head>
        <title></title>

        <meta charset="utf-8" />

        <style>
            h1{color:blue;}
        </style>
    </head>
        
    <body>
    <%= button_to "Bloggers", users_path, method: :get%>
    <br>
    <%= button_to "Articles", articles_path, method: :get%>
        <h1>Alpha Bloggers</h1>
        <%= will_paginate @users %>
       
                <% @users.each do |user|  %>
                    <%= link_to user.username, user %>
                    <h5><%= link_to gravatar_for(user), user%></h5>
                    <p><%= pluralize(user.articles.count, "article")%></p>
                    <%= link_to 'View profile', user%>
                    <%= link_to 'Edit Profile', edit_user_path(user)%> 
                    <p>Joined <%=time_ago_in_words(user.created_at)%> ago</p>
                <% end %>
            
    
          <br>
        <%= link_to 'Create new article', new_article_path %>
    </body>





</html>